
<div class="add-form">
<h3>Add Hero</h3>
    <form (ngSubmit)="insertHero()">
        <label>Name:</label>
        <input type="text" name="name" [(ngModel)]="name" >
        <button type="submit">Add</button>
    </form>

</div>
<div class="table">
<h3>Hero Table</h3>
<thead>

    <tr>
        <th>S.n</th>
        <th>Name</th>
        <th>Identy Number</th>
        <th>Actions</th>
        <th>Edit</th>
    </tr>


</thead>

<tbody>

    <tr *ngFor="let hero of heroes;index as i">

        <td>{{i+1}}</td>
        <td>{{hero.name}}</td>
        <td>{{hero.id}}</td>
        <td><button (click)="deleteHero(hero)">Delete</button>
        </td>
        <td>
            <form >
         <label> Name:</label> 
          <input type="text" value="{{hero.name}}" #name >
        </form>
        </td>
    </tr>
</tbody>

</div>