.table{
    padding: 5% 30%;;
 }

 tr,th,td{
border: 1px solid black;
padding: 10px 20px;
 }

 .add-form{
    padding-left:30%;
    
 }
 label{
     padding-right:2%;
 }
 button{
     margin-left: 2%;
 }